@import '../../styles/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: $header-mobile-height;

  border-bottom: 4px solid var(--color-dark);

  @media (min-width: $bp-md) {
    height: $header-height;
  }

  @media (min-width: $bp-lg) {
    margin: 0 18px;
  }

  @media (min-width: 1316px) {
    margin: initial;
  }
}