@import '../../styles/variables';

.nav {
  display: flex;
  align-items: center;
}

.wrapper {
  position: fixed;
  top: $header-mobile-height;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(100%);

  display: flex;
  flex-direction: column;

  padding: 0 18px;

  background: $leading-bg;
  
  transition: all 0.4s;

  @media (min-width: $desktop-menu-bp) {
    position: static;
    top: initial;
    right: initial;
    bottom: initial;
    left: initial;
    transform: none;

    flex-direction: row;
    align-items: center;

    padding: initial;

    background: none;

    transition: none;
  }
}

.open.wrapper {
  transform: translateX(0);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  margin-bottom: auto;
  padding: 0;

  list-style: none;
  
  @media (min-width: $desktop-menu-bp) {
    flex-direction: row;

    margin-bottom: initial;
  }
}

.item {
  margin: 28px 0;

  @media (min-width: $desktop-menu-bp) {
    margin: 0 51px;
  }
}

.item:first-of-type {
  margin-left: 0;
}

.item:last-of-type {
  margin-right: 0;
}

.item a {
  position: relative;

  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  line-height: 42px;
  color: var(--color-black);
  text-decoration: none;

  opacity: 0.8;

  @media (min-width: $desktop-menu-bp) {
    font-size: 16px;
    line-height: 32px;
  }
}

.item a::after {
  content: "";

  position: absolute;
  right: 0;
  bottom: -3px;
  left: 0;

  width: 0;
  margin: auto;

  border-bottom: 1px solid var(--color-black);

  transition: all 0.3s;
}

.item a:hover::after {
  width: 100%;
}

.active a {
  font-weight: 700;

  opacity: 1;
}

.applyButton {
  margin-top: auto;
  margin-bottom: 72px;

  @media (min-width: $bp-md) {
    max-width: 145px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: $bp-lg) {
    margin-top: initial;
    margin-right: initial;
    margin-bottom: initial;
    margin-left: 145px;
  }
}