/* sizes */
$header-mobile-height: 104px;
$header-height: 108px;

/* breakpoints */
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

$desktop-menu-bp: $bp-lg;

/* styles */
$leading-bg: linear-gradient(0deg, #F7F3F4, #F7F3F4), linear-gradient(0deg, #FEBD2F, #FEBD2F), radial-gradient(178.57% 327.71% at 110.1% 3.35%, #FF605B 0%, #FFEE30 100%), #27D07D;
