@import-normalize;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
  --color-black: #000000;
  --color-dark: #222433;
  --color-white: #FFFFFF;
  --color-light: #F7F3F4;
  --color-red: #F26C74;
  --color-blue: #7675FD;
  --color-salmon: #FAA881;
  --color-peach: #FFBD9E;
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  overflow-x: hidden;

  margin: 0;

  font-family: 'Poppins', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scroll-disabled {
  overflow-y: hidden;
}
