@import '../../styles/variables';

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 18px;

  @media (min-width: $bp-md) {
    max-width: 1280px;
  }

  @media (min-width: $bp-lg) {
    padding: initial;
  }
}

.xPaddings {
  padding: 0 18px;

  @media (min-width: $bp-md) {
    padding: 0 80px;
  }
}

.fullWidth {
  max-width: 100%;
}